@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/font/PlayfairDisplay-VariableFont_wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Khula';
  src: url('../assets/font/Khula-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Khula';
  src: url('../assets/font/Khula-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Khula';
  src: url('../assets/font/Khula-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Khula';
  src: url('../assets/font/Khula-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Khula';
  src: url('../assets/font/Khula-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Black.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-BlackItalic.ttf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'NotoKufiArabic';
  src: url('../assets/font/NotoKufiArabic-VariableFont_wght.ttf');
  font-style: normal;
}
